extends layout

block content
  .seraphine-hero
    h1= title
    p A cidade vibra com as notas de Seraphine, a estrela pop de Piltover e Zaun.
    .music-notes
      span.note 🎵
      span.note 🎶
      span.note 🎤

  .seraphine-details
    .card
      h2> História
      p Seraphine começou como uma compositora sonhadora, usando seu talento para conectar pessoas através da música.
    .card
      h2> Habilidades
      ul
        li Sonho Brilhante (cura em área)
        li Canção do Encanto (controle de multidão)
        li Colaboração (buff em aliados)
    .card
      h2> Estilo
      p Estilo pop-tech com paleta rosa, lilás e indicativos de palco e iluminação.

  .seraphine-footer
    p Obrigado por visitar o site temático. Aproveite o show!
